
*/

.bg-cover {
    background-size: cover !important;
}


/*
*
* ==========================================
* FOR DEMO PURPOSES
* ==========================================
*
*/

body {
    min-height: 100vh;
}
